.fxt-template-layout10 .fxt-bg-img 
{
	min-height: 100vh;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 30px 15px;
}

.fxt-template-layout10 .fxt-header 
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	max-width: 480px;
	width: 100%;
	text-align: center;
	color: #fff;
}

.fxt-template-layout10 .fxt-header .fxt-logo 
{
	display: block;
	margin-bottom: 30px;
	max-width: 40vw;
}

.fxt-header a img
{
	height:44px;
}

.fxt-template-layout10 .fxt-btn-ghost {
	margin-top: 15px;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
	display: inline-block;
	font-size: 17px;
	font-weight: 700;
	-webkit-box-shadow: none;
	box-shadow: none;
	outline: none;
	border: 1px solid #fff;
	color: #fff;
	border-radius: 3px;
	background-color: transparent;
	padding: 10px 36px;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.fxt-template-layout10 .fxt-btn-ghost:hover 
{
	color: #3aa3a5;
	font-weight:700;
	text-decoration:none;
	border-color: #fff;
	background-color: #fff;
}

.fxt-template-layout10 .fxt-bg-color {
	background-color: #ffffff;
	min-height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 60px 30px;
}

.fxt-template-layout10 .fxt-content {
	max-width: 450px;
	width: 100%;
}

.fxt-template-layout10 .fxt-form {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	margin-bottom: 40px;
}

.fxt-template-layout10 .fxt-form h2 {
	font-weight: 500;
	margin-bottom: 30px;
	font-size: 24px;
}

.fxt-template-layout10 .fxt-form .form-group {
	position: relative;
	z-index: 1;
	margin-bottom: 40px;
}

.fxt-template-layout10 .fxt-form .form-control {
	min-height: 40px;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 0;
	border-bottom: 1px solid #e7e7e7;
	padding: 10px 30px 10px 0;
	color: #111;
	border-radius: 0;
}

.fxt-template-layout10 .fxt-checkbox-area {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 30px;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.fxt-template-layout10 .fxt-btn-fill:hover 
{
	background-color: #43b8ba;
}

.fxt-template-layout10 .fxt-btn-fill 
{
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
	display: inline-block;
	font-size: 17px;
	font-weight: 500;
	-webkit-box-shadow: none;
	box-shadow: none;
	outline: none;
	border: 0;
	color: #fff;
	border-radius: 3px;
	background-color: #3aa3a5;
	padding: 10px 36px;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.fxt-template-layout10 .switcher-text2:hover 
{
    color: #666;
}

.fxt-template-layout10 .switcher-text2:last-child 
{
    margin-right: 0;
}

.fxt-template-layout10 .switcher-text2 
{
    color: #9f9f9f;
    font-size: 15px;
    margin-top: 0px;
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}	

.fxt-checkbox-area label
{
    margin-bottom: 0;	
}

.fxt-checkbox-area a
{
    margin-bottom: 0;
	margin-top:0;
}

.field-icon {
    position: absolute;
    right: 0;
    top: 10px;
}